body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

.portfolio {
    max-width: 800px;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
}

.personal-details h2,
.projects h2 {
    color: #333;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}

.details-container {
    margin-top: 20px;
}

.detail-item {
    margin-bottom: 10px;
    font-weight: 800;
}

.label {
    font-weight: bold;
    color:black;
    font-size: 20px;
    font-weight: 700;
}
.label-right{
    font-weight: bold;
    color:black;
    font-size: 13px;
    font-weight: 700;
}

.value {
    color: #333;
}

.project {
    margin-bottom: 30px;
}


.project-title {
    color: #333;
    margin-bottom: 10px;
}
.projecth1{
    text-align: center;
}
.centered-heading {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px; /* Add spacing below the centered heading */
}
.project-description {
    color: #666;
}
.social-icons a {
    color: #333;
    font-size: 24px;
    margin-right: 10px;
    text-decoration: none;
}

.social-icons a:hover {
    color: #e4405f; 
}
.skills-container{
    font-size: 15PX;
    font-weight: 700;
    text-align: center;
}
